body {
  min-width: 280px;
}

h1,
h2 {
  text-align: center;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.title {
  position: relative;
  padding: 3em;
  background-color: #e8e3bd;
}
.title a {
  display: inline-block;
  width: 7em;
  position: absolute;
  top: 50%;
  left: calc(50% - 27em);
  transform: translateY(-50%);
}
.title a:nth-child(2) {
  width: 6.4em;
  left: calc(50% + 19em);
}
.title h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(
    0deg,
    #b67b03 0%,
    #daaf08 45%,
    #fee9a0 70%,
    #daaf08 85%,
    #b67b03 90% 100%
  );
  -webkit-background-clip: text;
}
.title h2 {
  font-size: 2em;
  font-family: system-ui;
  color: #c0554b;
}
.msg {
  background-color: #c0554b;
}
#msg-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
}
#msg-list::after {
  content: "";
  width: 32%;
  max-width: 450px;
}
#msg-list li {
  max-width: 450px;
  width: 32%;
  padding-bottom: 1.5em;
}
#msg-list li a {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.562);
  padding: 1em 0;
  box-sizing: border-box;
}
.lantern .head {
  position: relative;
  padding-top: 10em;
}
.lantern .head::before {
  content: "";
  position: absolute;
  background-color: #352c29;
  width: 95%;
  padding-top: 1em;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
}
.lantern .head::after {
  content: "";
  position: absolute;
  background-color: #352c29;
  width: 3em;
  padding-top: 2em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.lantern .handles {
  position: absolute;
  top: 0;
  border: solid 1px #352c29;
  border-radius: 50% / 100% 100% 0 0;
  width: 100%;
  height: 100%;
}
.lantern .body {
  box-sizing: border-box;
  width: 90%;
  height: calc(100% - 10em);
  margin: auto;
  border: solid 1em #352c29;
  background: url(../img/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 900px) {
  .title {
    text-align: center;
  }
  .title a {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    padding-bottom: 1em;
  }
  .title a:nth-child(2) {
    left: unset;
    padding-left: 1em;
  }
  .img-contaier {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #msg-list li {
    width: 48%;
  }
}
@media (max-width: 680px) {
  .brake1 {
    display: block;
  }
  .title {
    padding: 2em;
  }
  #msg-list {
    justify-content: center;
  }
  #msg-list li {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .title {
    height: auto;
    padding: 1em 0;
  }
  .title a {
    width: 6em;
  }
  .title a:nth-child(2) {
    height: 6em;
    padding-left: 0;
  }
  .title h1 {
    font-size: 1.5em;
  }
  .title h2 {
    font-size: 1em;
  }
}
